/* static/css/styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.container {
    width: 90%;
    /* Changed to be more responsive */
    max-width: 800px;
    /* Maximum width for larger screens */
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

.summary {
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    white-space: pre-wrap;
    /* Allows preformatted text to wrap */
    line-height: 1.6;
    /* Improve line spacing for readability */
    font-size: 1rem;
    /* Adjust font size */
    margin-bottom: 20px;
    /* Add margin below summary */
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
}

.button {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    background: #35424a;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s ease;
    margin-top: 15px;
}

.button:hover {
    background: #4c565f;
}